.h1_headline {
  font-size: 48px;
  font-weight: bold;
}
.product_headline {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2_headline {
  text-align: center;
  font-size: 32px;
  padding: 14px 0px;
  line-height: 1.5;
}

.h2_headline_bold {
  font-weight: bold;
  font-size: 32px;
  padding: 14px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 48px;
}

.h3_colorful_headline {
  font-size: 18px;
  font-weight: bold;
  color: $color-primary;
  padding: 4px 0px;
}
.h3_headline_tac {
  font-size: 18px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}
.h3_headline {
  font-size: 18px;
  padding: 16px 0px;
  text-align: left;
  font-weight: bold;
}

.long_paragraph {
  max-width: 560px;
  font-size: 20px;
}
.paragraph {
  font-size: 20px;
}
.paragraph_fz18 {
  font-size: 18px;
  padding: 14px;
}
.ta_l {
  text-align: left;
}
.ml_-8 {
  margin-left: -8px;
}
.w166 {
  width: 166px;
}
.padding_32 {
  padding: 32px;
}
.padding_tb17 {
  padding: 17px 0px;
}
.fw_bold {
  font-weight: bold;
}
