/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: Noto Sans TC;
  list-style-type: none;
}

* a {
  text-decoration: none;
}

* p {
  line-height: 1.5;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
  padding: 0 20px;
}

.container_center {
  max-width: 1388px;
  margin: 0 auto;
}

.header_logo img {
  width: 218px;
}

.navbar {
  max-width: 1085px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0px;
}

.nav_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  .banner_background {
    background-image: url(https://lishan-shih.github.io/chatTalker/images/bg_yellow.svg);
    background-position: right top;
    background-size: 850px;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.banner_box {
  max-width: 1085px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
}

.bannner_text {
  padding: 158px 0px;
  padding-right: 120px;
}

.bannner_text .h3_headline,
.bannner_text .h1_headline,
.bannner_text .paragraph {
  text-align: left;
  line-height: 1.5;
}

.bannner_img {
  max-width: 532px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h1_headline {
  font-size: 48px;
  font-weight: bold;
}

.product_headline {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h2_headline {
  text-align: center;
  font-size: 32px;
  padding: 14px 0px;
  line-height: 1.5;
}

.h2_headline_bold {
  font-weight: bold;
  font-size: 32px;
  padding: 14px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 48px;
}

.h3_colorful_headline {
  font-size: 18px;
  font-weight: bold;
  color: #56c4c5;
  padding: 4px 0px;
}

.h3_headline_tac {
  font-size: 18px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

.h3_headline {
  font-size: 18px;
  padding: 16px 0px;
  text-align: left;
  font-weight: bold;
}

.long_paragraph {
  max-width: 560px;
  font-size: 20px;
}

.paragraph {
  font-size: 20px;
}

.paragraph_fz18 {
  font-size: 18px;
  padding: 14px;
}

.ta_l {
  text-align: left;
}

.ml_-8 {
  margin-left: -8px;
}

.w166 {
  width: 166px;
}

.padding_32 {
  padding: 32px;
}

.padding_tb17 {
  padding: 17px 0px;
}

.fw_bold {
  font-weight: bold;
}

.row_1 {
  text-align: center;
  padding: 48px;
}

.row_1 .h2_headline {
  text-align: center;
  font-size: 32px;
  padding: 32px;
}

.row_1 .productList {
  max-width: 969px;
  width: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row_1 .product_item {
  padding: 7px;
}

.row_1 .product_item .product_img {
  max-width: 33%;
  margin: 0 auto 24px;
}

.row_1 .product_item .product_text {
  text-align: center;
  line-height: 1.5;
}

.row_1 .product_item .product_text h3 {
  font-size: 24px;
  padding: 14px;
}

.row_1 .product_item .product_text p {
  color: #747474;
  padding: 24px 16px;
}

.row_2 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1088px;
  width: 100%;
}

.row_2 .product_headline {
  padding: 36px;
}

.row_2 .product_headline .h2_headline {
  font-size: 32px;
  padding: 14px;
}

.row_2 .product_item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row_2 .product_item .card_title {
  color: #56c4c5;
  padding: 16px;
}

.row_2 .product_item .paragraph_div {
  padding: 0px 16px 24px 16px;
}

.row_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px;
}

.row_3 .product {
  margin-left: 49px;
}

.row_4 {
  max-width: 1088px;
  width: 100%;
}

.row_4 .feedback {
  padding: 94px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row_4 .feedback_img img {
  border-radius: 50%;
  top: -56px;
  left: 32px;
  position: absolute;
  z-index: 3;
}

.row_4 .feedback_text {
  padding-bottom: 32px;
}

.row_4 .feedback_user {
  border-top: 1px solid #dddddd;
  padding-top: 32px;
}

.row_4 .feedback_user p {
  padding-bottom: 8px 0px;
}

.row_4 .feedback_user .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0px;
}

.cards {
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
  border-radius: 12px;
  margin-right: 16px;
  width: 260px;
  height: 388px;
}

.product_cards {
  width: 554px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-warp {
  max-width: 230px;
  height: 280px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
  border-radius: 12px;
  margin-right: 32px;
  margin-bottom: 28px;
}

.card_top {
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px 12px 0px 0px;
}

.card_right_p47 {
  padding-right: 47px;
}

.circle_cards {
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
  border-radius: 50%;
  width: 86px;
  height: 86px;
  max-width: 50%;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback_cards {
  width: 352px;
  height: 304px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px 0px;
  border-radius: 12px;
  position: relative;
  padding: 48px 32px 24px;
  margin-right: 16px;
  background-color: #fff;
}

.nav_button {
  display: block;
  border-radius: 50px;
  padding: 8px;
  text-align: center;
  background-color: #ff5d50;
  color: #fff;
  width: 128px;
  height: 40px;
}

.nav_button:hover {
  color: #ff5d50;
  background-color: #fff;
  border: 1px solid #ff5d50;
}

.btn_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
}

.btn_p14 {
  padding: 14px;
}

.btn {
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #56c4c5;
  color: #fff;
  display: block;
  width: 136px;
  height: 49px;
  font-size: 18px;
  padding: 16px 32px;
}

.btn:hover {
  color: #56c4c5;
  background-color: #fff;
  border: 1px solid #56c4c5;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 136px;
  height: 49px;
  padding: 16px 32px;
  font-size: 17px;
}

@media (max-width: 767px) {
  .banner_background {
    background-color: #fff;
  }
}

@media (max-width: 375px) {
  .banner_background {
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  .banner_box {
    max-width: 738px;
    width: 100%;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .banner_box {
    width: 335px;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .bannner_text {
    padding: 32px 0px;
  }
}

@media (max-width: 375px) {
  .bannner_text {
    padding: 8px 0px;
  }
}

@media (max-width: 767px) {
  .bannner_img {
    height: auto;
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 375px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .bannner_img {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 304px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .row_1.h2_headline {
    max-width: 320px;
  }
}

@media (max-width: 375px) {
  .row_1.h2_headline {
    max-width: 252px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .row_1 .productList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 748px;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .row_1 .productList {
    max-width: 228px;
  }
}

@media (max-width: 767px) {
  .row_2 .product_headline {
    padding-bottom: 16px;
  }
}

@media (max-width: 375px) {
  .row_2 .long_paragraph {
    max-width: 334px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .row_2 .product_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 260px;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .row_2 .product_item {
    max-width: 260px;
  }
}

@media (max-width: 767px) {
  .row_3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .row_3 .product_cards {
    width: 554px;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 73px;
  }
}

@media (max-width: 767px) {
  .row_4 .feedback {
    max-width: 352px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .row_4 .feedback {
    max-width: 335px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .row_4 .feedback .feedback_cards {
    margin: 60px 0px;
    max-width: 352px;
  }
}

@media (max-width: 375px) {
  .row_4 .feedback .feedback_cards {
    width: 335px;
    height: 304px;
  }
}

@media (max-width: 767px) {
  .footer-plan {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 375px) {
  .footer-plan {
    max-width: 375px;
  }
}

@media (max-width: 375px) {
  .footer-plan .h2_headline {
    padding: 20px;
  }
}

.footer-plan {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home_footer.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 36%;
  max-height: 503px;
  max-height: 100%;
}

.footer {
  background-color: #f5f5f5;
}

.footer p {
  padding: 16px;
  text-align: center;
}

.top {
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  background-color: #56c4c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 70%;
  right: 5%;
  width: 71px;
  height: 71px;
}
/*# sourceMappingURL=main.css.map */